<div class="button__back"><a href="/">Back to discussions</a></div>

<div class="discussion__title">
    <h1>{{title}}</h1>
    <div class="discussion__message">{{message}}</div>
</div>

<div id="questions">
{{#each question}}
    <a href="/discussions/{{../this.id}}/{{this.id}}">
        <div class="question__posted">
            <div class="question__title">
                <h2>{{this.question}}</h2>
            </div>
            <div class="button_answer">Give an answer</div>

            <div class="answer">
                <form class="form-a" action="" method="post">
                    <textarea name="answer" placeholder="Answer" class="answer__text"></textarea>
                    <input type="text" name="questionId" hidden="hidden" value="{{this.id}}">
                    <input type="submit" value="Explain" class="button-a">
                </form>
            </div>
            <form action="" method="post" class="form__del">
                <input type="text" name="del" value="{{this.id}}" hidden="hidden">
                <input type="submit" value="Del" class="del">
            </form>
        </div>
    </a>
{{/each}}
</div>

<div class="button__ask">Ask a question</div>

<div class="question">
    <form action="" method="post" id="qform">
        <textarea name="question" placeholder="Question" class="ask__text" id="m"></textarea>
        <input type="submit" value="Ask" class="button">
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
    var socket = io();
    $('#qform').submit(function(){
        socket.emit('chat message', $('#m').val());
    });

    socket.on('chat message', function(msg){
        var appendh2 = '<div class=“question_title”><h2>'+msg+'</h2></div>';
        $('#questions').append(appendh2);



    });


</script>